.logo {
  font-weight: 400;
  font-family: var(--font-figtree);
  color: rgb(var(--black-color));
  font-size: inherit;

  > span:first-child {
    font-weight: 700;
    color: rgb(var(--point-color));
  }
}
