.feedItem {
  border: 1px solid rgba(var(--black-color), 0.2);
  border-radius: 0.2em;
  padding: 1.2em;

  :global {
    .feed-header {
      margin-bottom: 1em;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.commentCount {
  color: rgba(var(--black-color), 0.7);
  font-size: 0.85em;

  em {
    font-style: normal;
    margin-inline-start: 0.3em;
  }
}
