.profileUpload {
  position: relative;

  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 1px solid rgba(var(--black-color), 0.1);
  }

  :global .upload-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.6em;
    height: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(var(--point-color));
    color: rgb(var(--white-color));
    z-index: 1;

    svg {
      margin-bottom: 0.15em;
    }
  }
}
