.imageWrap {
  position: relative;
}

.feedImages {
  position: relative;
  display: grid;
  max-width: 480px;
  gap: 0.5em;

  :global {
    .image-item {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.2em;
      }

      .delete-button {
        position: absolute;
        top: 0;
        inset-inline-end: 0;
        color: rgba(var(--black-color), 0.4);

        svg {
          transform: translate(25%, -25%);
        }
      }
    }

    .more {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      inset-inline-end: 0.5em;
      inset-block-end: 0.5em;
      background: rgba(var(--black-color), 0.8);
      color: rgb(var(--white-color));
      font-size: 0.7em;
      border-radius: 0.2em;
      padding: 0.25em 0.5em;

      svg {
        margin-inline-end: 0.3em;
      }
    }
  }
}
