.inputStyle {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid rgba(var(--black-color), 0.3);
  border-radius: 0.2em;
  box-sizing: border-box;
  padding: 0.7em;

  input {
    display: block;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: rgba(var(--black-color), 0.3);
    }
  }

  button {
    margin-left: 0.5em;

    svg {
      display: block;
    }
  }
}
