.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titleStyle {
  margin-bottom: 1em;
}

.nicknameStyle {
  width: 100%;
  max-width: 300px;
  margin-top: 3em;

  :global {
    h3 {
      font-weight: 300;
      font-size: 0.8em;
      color: rgba(var(--black-color), 0.6);
    }

    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0.2em;
      border: 1px solid rgba(var(--black-color), 0.3);
      padding: 0.7em;
      margin-top: 0.5em;
    }

    button[type='submit'] {
      margin-top: 2em;
    }
  }
}
