.articleHeader {
  display: flex;
  align-items: center;

  :global {
    .date {
      margin-inline-start: 0.3em;
      font-size: 0.8em;

      &:before {
        content: '∙';
        margin-inline-end: 0.3em;
      }
      color: rgba(var(--black-color), 0.4);
    }

    .util-wrap {
      margin-inline-start: auto;

      .selected {
        color: rgba(var(--black-color), 0.4);
        padding-inline-start: 0.5em;
      }
    }
  }
}
