.writerWrap {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  font-size: 0.8em;

  :global {
    .profile-image {
      height: 42px;
    }

    .name {
      color: rgba(var(--black-color), 0.7);
    }
  }
}
