#app {
  display: grid;
  grid-template-rows: var(--header-height) auto;

  .container {
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  section {
    min-height: calc(100vh - var(--header-height));
  }
}
