html {
  font-family: var(--font-noto-sans);
}

html,
body,
h1,
h2,
h3,
a,
p,
button,
input {
  margin: unset;
  padding: unset;
}

html {
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  background: transparent;
  outline: 0;
  border: 0;
}
