:root {
  /* size */
  --header-height: 60px;
  --content-max-width: 1280px;

  /* color */
  --point-color: 64, 165, 255;
  --white-color: 255, 255, 255;
  --red-color: 255, 82, 82;
  --black-color: 0, 0, 0;
}
