.button {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 0.2em;
  align-items: center;
  font-size: inherit;
  overflow: hidden;

  &:disabled {
    opacity: 0.1;
  }

  &:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(var(--black-color), 0.03);
    transition: background-color 0.2s;
  }

  > span:first-child {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}

.pointColor {
  background-color: rgba(var(--point-color));
  color: rgba(var(--white-color));
}

.fill {
  width: 100%;
  padding: 0.8em 0;
  max-width: 300px;
}
