.feedBody {
  cursor: pointer;

  :global {
    .summary {
      line-height: 1.5em;
      max-height: 6em;
      color: rgba(var(--black-color), 0.4);
      overflow: hidden;
    }

    .more {
      color: rgba(var(--black-color), 0.4);
    }
  }

  + div {
    margin-top: 1.5em;
  }
}

.commentCountButton {
  display: inline-flex;
  align-items: center;
  font-size: inherit;

  svg {
    margin-inline-start: 0.3em;
    fill: rgba(var(--black-color), 0.4);
  }
}

.recentComments {
  padding-top: 0.8em;

  &:not(:first-child) {
    margin-top: 0.8em;
  }

  :global {
    .comment-content {
      color: rgba(var(--black-color), 0.4);
      font-size: 0.9em;
      margin-top: 0.2em;
    }
  }
}

.upDownButton {
  margin-inline-start: auto;

  :global {
    button {
      &:hover {
        .icon {
          background-color: rgba(var(--black-color), 0.05);
        }
      }
      &:not(:first-child) {
        margin-inline-start: 0.8em;
      }

      .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
      }

      .text {
        margin-inline-start: 0.2em;
      }
    }
  }
}
