.feedBody {
  cursor: pointer;

  :global {
    .summary {
      line-height: 1.5em;
      max-height: 6em;
      overflow: hidden;
    }

    .more {
      color: rgba(var(--black-color), 0.4);
    }
  }

  + div {
    margin-top: 1.5em;
  }
}
